Repository AlexsLemonade/resources-portal, pull requests merged in 2020-05, with the labels that each got.

#160 adds imported and import_source to material document
  api/resources_portal/migrations/0006_auto_20200506_1330.py
  api/resources_portal/models/documents.py
  api/resources_portal/views/document_views.py
Labels: API, migration, search

#163 search but with better data
  api/resources_portal/views/document_views.py
  client/src/api/search.js
  client/src/components/SearchInput.js
  client/src/components/SearchResult.js
  client/src/components/SearchResultsFilters.js
  client/src/components/resources/resources.stories.js
  client/src/helpers/testData.js
  client/src/pages/resources/[id]/index.js
Labels: frontend

#161 Add invitations notifications
  api/dev_data/notifications.json
  api/dev_data/test_data_readme.md
  api/requirements.txt
  api/resources_portal/config/common.py
  api/resources_portal/management/commands/populate_test_database.py
  api/resources_portal/migrations/0001_initial.py
  api/resources_portal/migrations/0002_organizationinvitation.py
  api/resources_portal/migrations/0003_auto_20200424_1937.py
  api/resources_portal/migrations/0004_auto_20200501_1518.py
  api/resources_portal/migrations/0005_auto_20200501_1903.py
  api/resources_portal/models/__init__.py
  api/resources_portal/models/notification.py
  api/resources_portal/models/organization.py
  api/resources_portal/test/factories.py
  api/resources_portal/test/views/test_organization_invitation.py
  api/resources_portal/views/organization_invitations.py
Labels: migration

#131 Grants route
  api/requirements.txt
  api/resources_portal/migrations/0001_initial.py
  api/resources_portal/migrations/0006_auto_20200506_1330.py
  api/resources_portal/models/__init__.py
  api/resources_portal/models/associations/grant_material_association.py
  api/resources_portal/models/associations/grant_organization_association.py
  api/resources_portal/models/associations/grant_user_association.py
  api/resources_portal/models/documents.py
  api/resources_portal/models/grant.py
  api/resources_portal/models/material.py
  api/resources_portal/models/organization.py
  api/resources_portal/test/factories.py
  api/resources_portal/test/serializers/test_grant.py
  api/resources_portal/test/views/test_grant.py
  api/resources_portal/test/views/test_grant_material_association.py
  api/resources_portal/test/views/test_organization.py
  api/resources_portal/urls.py
  api/resources_portal/views/__init__.py
  api/resources_portal/views/grant.py
  api/resources_portal/views/grant_material_association.py
  api/resources_portal/views/material.py
  api/resources_portal/views/organization.py
  api/resources_portal/views/relation_serializers.py
  api/resources_portal/views/user.py
  api/run_tests.sh
  api/wait_for_elasticsearch.py
Labels: migration
